#!/bin/bash
### @launchscript@ ###

{{{variables}}}

export M5_SIMULATOR=1
if [ "${benchmarks_mount_image}" = "True" ] ; then
    mkdir -p "${benchmarks_image_mountpoint}"
    mount "${benchmarks_image_device}" "${benchmarks_image_mountpoint}"
    cd "${benchmarks_image_mountpoint}"
fi
sync

if [ "${disable_transparent_hugepages:-False}" == "True" ] ; then
    echo never > /sys/kernel/mm/transparent_hugepage/enabled
fi

# Generate variability via sleep (0.1 × random_seed)
T=$(printf "%05d" ${random_seed})
sleep "${T:0:4}.${T:4:1}"

cd "${benchmark_subdir}"

"./${benchmark_binary_filename_base}.${arch}${benchmark_binary_suffix}" ${benchmark_num_threads_option}${num_processors} ${benchmark_args_string}
echo 'Launch script done ($?='"$?"'). Exiting simulation... (m5 exit)'

sync
sleep 2
/sbin/m5 exit
