# Main configuration file for tasks-gem5

# See tasks-gem5.defaults.config for a list of variables that can be overriden here

# Example
#
# Choose what binaries and checkpoints should be built:
#   ENABLED_ARCHITECTURES=("aarch64") # Options: ("x86_64" "aarch64" "riscv")
#   ENABLED_PROTOCOLS=("MESI_Three_Level")
#   ENABLED_BUILD_TYPES=("debug" "opt")
#
# Choose what checkpoints should be built:
#   ENABLED_NUM_CPUS=(1 2 4)
#
# Specify the ARM compiler with TME support
#   BENCHMARKS_AARCH64_TME_CROSS_HACK_GCC="${HOME}/local/gcc/gcc-10.2.0-aarch64-linux/bin/aarch64-linux-gcc"
